<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Insurance Management Platform</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Insurance Management Platform</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/client}">Client Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/insurancepolicy}">Insurance Policy Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/claim}">Claim Management</a>
      </li>
    </ul>
  </div>
</nav>

<div class ="container">
  <div class = "row">
    <h1> List Claims </h1>
  </div>

  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "@{/client}" class = "btn btn-primary btn-sm mb-3"> Add Client</a>
    </div>
  </div>
  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> Client Name</th>
      <th>Client DOB</th>
      <th> Client Contact </th>
      <th>Client Address </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "client: ${clients}">
      <td th:text = "${client.clientName}"></td>
      <td th:text = "${client.clientDOB}"></td>
      <td th:text = "${client.clientAddress}"></td>
      <td th:text = "${client.contact}"></td>
      <td>
        <a th:href = "@{/client/{id}(id=${client.clientId})}"
           class = "btn btn-primary">Update</a>

        <a th:href = "@{/client/{id}(id=${client.clientId})}"
           class = "btn btn-danger">Delete</a>

      </td>
    </tr>
    </tbody>

  </table>

</div>
</body>
</html>